page-login {

  .login-box {
    background: #090909;
    padding: 20px 20px 0px 20px;
    margin-top: 20px;

  }
  .submit-btn {
    background: #ff1010;
    border-radius: 30px !important;
    border: 1px solid #ffffff;

   }
}
