page-home {
  img {
      /* max-height: 150px;

      width: auto; */
      width: auto;
      /* max-width: 150px;
      height: 150px; */
      /** position: absolute;**/
      margin-top: 0;
      bottom: 0;
      margin-left: 0;
      right: 0;
      /*margin: auto; */
  }

  .myimg2 {
      width: auto !important;
      height: 80% ;
      z-index: 99;
  }

  .bottom-img{
      bottom: 0px !important ;
      margin-bottom: 0px;
  }

  .bigger {
      font-size: 1.3em;
      color: #000000;
  }

  .home2-background {
    /* background-image: url('/assets/imgs/home.jpg') ; */
    /* background-repeat: no-repeat;  */
    /* background-size: cover; */
    //background-color: transparent;
    background-color: #f2db97;
  }


  .backimg {
    position: absolute;
    width: auto !important;
    top: 0px;
    left: 0px;
  }


  .myfont {
    font-family: 'brush' !important;
    font-size: 1.8em;
    color: #000000;
  }

  .bigicon {
    font-size: 2.5em !important;
  }

}
