page-home {
  img {
      /* max-height: 150px;
      width: auto; */
      width: auto;
      /* max-width: 150px;
      height: 150px; */
      /** position: absolute;**/
      margin-top: 0;
      bottom: 0;
      margin-left: 0;
      right: 0;
      /*margin: auto; */
  }

  .back2 {
    background: url('/assets/imgs/paper4.png') ;
    background-repeat: repeat;
  }

  .myimg2 {
      width: auto !important;
      z-index: 99;
      display: block;
  }



  .bigger {
      font-size: 1.3em;
      color: #000000;
  }

  .home2-background {
    background-image: url('/assets/imgs/paper3.png') ;
    background-repeat: repeat;
    /* background-size: cover; */

    /* background-color: ##eed794; */
  }


  .backimg {
    position: absolute;
    width: auto !important;
    top: 0px !important;
    left: 0px !important;
  }


  .myfont {
    font-family: 'brush' !important;
    font-size: 1.8em;
    color: #000000;
  }

  .bigicon {
    font-size: 2.5em !important;
  }

}
