page-home {
  img {
      /* max-height: 150px;

      width: auto; */
      width: auto;
      max-width: 150px;
      height: 150px;
      /** position: absolute;**/
      margin-top: 0;
      bottom: 0;
      margin-left: 0;
      right: 0;
      /*margin: auto; */
  }
  .myimg {

      margin-top: 40px !important;
      margin-left: 40px !important;

  }

  .bottom-img{
      bottom: 0px !important ;
      margin-bottom: 0px;
  }

  .bigger {
      font-size: 1.5em;
      color: #000000;
  }

  .home2-background {
    /* background-image: url('/assets/imgs/home.jpg') ; */
    /* background-repeat: no-repeat;  */
    /* background-size: cover; */
    //background-color: transparent;
    background-color: #f2db97;
  }
  .list1 {
    background-image: url('/assets/imgs/home1.png') ;
    background-size: cover;
  }
  .list2 {
    background-image: url('/assets/imgs/home2.png') ;
    background-size: cover;
  }
  .list3 {
    background-image: url('/assets/imgs/home3.png') ;
    background-size: cover;
  }
  .list4 {
    background-image: url('/assets/imgs/home4.png') ;
    background-size: cover;
  }
}
